.navbar {
      margin-bottom: 0;
      border-radius: 0;
      height: 70px;
      background:black;
}
.img2{
	background-image: url('../img/marvel.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 475px;
	background-color: #515355;
}
.img1{
	display: none;
}
.img3{
	display: none;
}
.texth1{
	color: #ecec18b8;
}
body {
      background-color: black;
     
}
label{
	color: #350cfb;
}